bitmex==0.2.2
bitmex-websocket==0.1.180
bitmex-ws==0.3.1
bravado==9.2.2
bravado-core==4.13.2
future==0.16.0
jsonref==0.2
jsonschema==2.6.0
monotonic==1.5
msgpack-python==0.5.6
pyee==3.0.3
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
requests==2.6.0
rfc3987==1.3.8
semver==2.8.1
simplejson==3.16.0
six==1.12.0
strict-rfc3339==0.7
swagger-spec-validator==2.1.0
webcolors==1.8.1
websocket-client==0.46.0
ccxt==1.21.15