<nav class="bp3-navbar bp3">
        <div>
            <div class="bp3-navbar-group bp3-align-left">
                <a href="/"> <img class="header-logo" src="/src/images/logo.png" /> </a>

                <div class="bp3-navbar-heading bold-text">
                    Mirror Bot
                </div>

                <label class="bp3-switch bp3-align-right .modifier">

                    <button id="turn_on_bot" class="bp3-button bp3-intent-success" role="button">
                        Start
                    </button>

                    <button id="turn_off_bot" class="bp3-button bp3-intent-danger" role="button">
                        Stop
                    </button>
                </label>

            </div>
            <div class="bp3-navbar-group bp3-align-right">
                
                <a href="/" class="bot_status" onclick="return false"></a>

            </div>
        </div>
    </nav>

</body>


<script src="/src/scripts/main/tabs.js"></script>
<script src="/src/scripts/main/main.js"></script>

</html>