</body>


<script src="/src/scripts/dependencies/time.js"></script>
<script src="/src/scripts/main/button_ctrl.js"></script>
<script src="/src/scripts/main/tabs.js"></script>
<script src="/src/scripts/main/main.js"></script>

</html>