<!DOCTYPE html>
<html lang="en" xml:lang="en">

    <head>
        <title>Trade mirror</title>
        
        <link rel="stylesheet" href="/src/stylesheets/dependencies/blueprint.css" />
        <link rel="stylesheet" href="/src/stylesheets/dependencies/blueprint_icons.css" />
        <link rel="stylesheet" href="/src/stylesheets/main/main.css" />

        <script src="/src/scripts/dependencies/jquery331.js"></script>

    </head>

    <body>