/*Basic color scheme that is not cancer on my eyes 
  REMOVE IF YOU WANT IT TO BE ALL WHITE */
body {
    background: black;
}
.bp3-card {
    background: #1A1A1D;  /* fallback for old browsers */
    
}
.bp3-navbar {
    background: #4E4E50;
    color: white;
}
h5 {
    font-size: 1em;
    color: #950740;
}

label {
    color: #c34e67;
}

.client_name {
    background: #1A1A1D;
    color: #c34e67;
    font-weight: bold;
}
/* Basic color scheme*/




/*Header*/
.header-logo {
    width: 3em;
    margin: 0px 10px;
    vertical-align: middle;
}
.save_history {
    /*width: calc(100% - 4em);
    margin-left: 2em; */
    vertical-align: bottom;
    font-family: monospace;
    font-size: 0.81em;
    cursor: pointer;
    background-color: #111;
    color: rgb(233, 19, 19);
    overflow-x: hidden;
    overflow-y: hidden;
    height: 40px;
    min-width: 397px;
    /* margin-top: 6em;
    margin-bottom: 2em; */
}
.save_history span {
    display: block;
    font-size: 1.0em;
    height: 1.2em;
}
.tabs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bp3-navbar {
    margin: -20px;
    width: auto;
    margin-top: 20px;
}
/*---*/



/*Tabs*/
.tab-bar {
    display: block;
    text-align: left;
    /* margin-left: 20px; */
}

.tab-bar .bp3-button {
    background: #EEDC82;
    background-image: none !important;
    outline: none;
    margin-right: 0;
}

.tab-bar .bp3-button[class*="bp3-icon-"]::before {
    color: black;
}
/* --- */



/*Exchanges tab content*/
.bp3-card {
    min-height: 20em;
}
.client_name {
    margin: 0;
    display: block;
    border: none;
    width: 5em;
}
.new_client_btn {
    margin-top: 2em;
}
.client {
    margin-bottom: 0.5em;
}
/* --- */




.active_exchange {
    /* -webkit-animation: pulse 2.5s ease-in-out infinite alternate;
    animation: pulse 2.5s ease-in-out infinite alternate; */
    background: #0d8050;
  }

/*Animations*/
/* @-webkit-keyframes pulse {
    0% {
      background: transparent;
    }
    50% {
      background: #0d8050;
    }
    100% {
      background: transparent;
    }
  }
  @keyframes pulse {
    0% {
      background: transparent;
    }
    50% {
      background: #0d8050;
    }
    100% {
      background: transparent;
    }
  } */
/* --- */