/*Basic color scheme that is not cancer on my eyes 
  REMOVE IF YOU WANT IT TO BE ALL WHITE */
body {
    background: black;
}
.bp3-card {
    background: #1A1A1D;  /* fallback for old browsers */
    
}
.bp3-navbar {
    background: #4E4E50;
    color: white;
}
h5 {
    font-size: 1em;
    color: #950740;
}

label {
    color: #c34e67;
}

.client_name {
    background: #1A1A1D;
    color: #c34e67;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/* Basic color scheme*/




/*Header*/
.header-logo {
    width: 3em;
    margin: 0px 10px;
    vertical-align: middle;
}
.save_history {
    /*width: calc(100% - 4em);
    margin-left: 2em; */
    font-family: monospace;
    font-size: 0.81em;
    cursor: pointer;
    background-color: #111;
    color: #0d8050;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 40px;
    min-width: 50em;
    font-weight: bold;
    /* margin-top: 6em;
    margin-bottom: 2em; */
}
.save_history span {
    display: block;
    font-size: 1.0em;
    height: 1.2em;
}
.console_messages {
    max-height: 30em;
    min-height: 30em;
    font-family: monospace;
    font-size: 0.81em;
    cursor: pointer;
    background-color: #111;
    color: #0d8050;
    overflow: scroll;
    overflow-x: hidden;
    min-width: 50em;
    font-weight: bold;
}
.tabs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bp3-navbar {
    align-self: flex-end;
    width: 100%;
    margin-top: 20px;
}
/*---*/



/*Tabs*/
.tab-bar {
    display: block;
    text-align: left;
    /* margin-left: 20px; */
}

.tab-bar .bp3-button {
    background: #EEDC82;
    background-image: none !important;
    outline: none;
    margin-right: 0;
}

.tab-bar .bp3-button[class*="bp3-icon-"]::before {
    color: black;
}
/* --- */



/*Exchanges tab content*/
.bp3-card {
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 20em;
    padding: 20px 0px 0px 0px;
}
.client_name {
    margin: 0;
    display: block;
    border: none;
    width: 5em;
}
.new_client_btn {
    margin-top: 0em;
    margin-bottom: 2em;
    padding-left: 0;
    color: #c34e67 !important;
}
.new_client_btn:focus {
    outline: none !important;
}
.client {
    margin-bottom: 0.5em;
}
.delete_client {
    min-width: 25px !important;
    min-height: 25px !important;
}
.bp3-input {
    height: 25px !important;
    background: rgb(255, 243, 243);
}
.account_settings {
    padding-left: 20px;
}
/* --- */




.active_exchange {
    -webkit-animation: pulse 2.5s ease-in-out infinite alternate;
    animation: pulse 2.5s ease-in-out infinite alternate;
    /* background: #0d8050; */
  }

/*Animations*/
@-webkit-keyframes pulse {
    0% {
      background: transparent;
    }
    50% {
      background: #0d8050;
    }
    100% {
      background: transparent;
    }
  }
  @keyframes pulse {
    0% {
      background: transparent;
    }
    50% {
      background: #0d8050;
    }
    100% {
      background: transparent;
    }
  }
/* --- */

@media screen and (max-width: 1332px) {
    .console_messages {
        margin-left: 20px;
        margin-top: 1em;
    }
}

@media screen and (max-width: 625px) {
    .console_messages {
        margin-right: 20px;
        min-width: 92%;
    }
    .save_history {
        min-width: 100%;
    }
}

@media screen and (max-width: 565px) {
    input, label {
        display: block;
    }
}