<% include ./partials/header %>

<!-- Tab System -->
<div class="bp3-button-group bp3-large .modifier tab-bar">
        <a class="bp3-button bp3-icon-exchange" href="#settings#" tabindex="0" role="button">Bitmex</a>
        <a class="bp3-button bp3-icon-exchange" href="#settings#" tabindex="1" role="button">Binance</a>
        <a class="bp3-button bp3-icon-exchange" href="#settings#" tabindex="2" role="button">Bybit</a>
        <a class="bp3-button bp3-icon-exchange" href="#settings#" tabindex="3" role="button">Verbit</a>
</div>
<!-- End of Tab System -->


<!-- Exchanges Settings -->
<% include ./exchange_settings/bitmex %>
<% include ./exchange_settings/binance %>
<% include ./exchange_settings/bybit %>
<% include ./exchange_settings/verbit %>
<!-- End of Exchanges Settings -->



<% include ./partials/footer %>