<% include ./partials/header %>

<!-- Tab System -->
<div class="tabs">
    <div class="bp3-button-group bp3-large .modifier tab-bar">
            <a class="bp3-button" href="#settings#" tabindex="0" role="button">Bitmex</a>
            <a class="bp3-button" href="#settings#" tabindex="1" role="button">Binance</a>
            <a class="bp3-button" href="#settings#" tabindex="2" role="button">Bybit</a>
            <a class="bp3-button" href="#settings#" tabindex="3" role="button">Verbit</a>
    </div>
    
    <div class="save_history" id="save_history" title="Latest actions">
        &nbsp;
    </div>
</div>
<!-- End of Tab System -->

<form id="data">
<!-- Exchanges Settings -->
<% include ./exchanges %>
<!-- End of Exchanges Settings -->
</form>


<% include ./partials/footer %>